<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminDAO">

    <!-- 배송 상태별 비율 -->
    <select id="getRatio" resultType="hashmap">
        SELECT order_detail_status,
               ROUND(
                   100.0 * COUNT(*) / SUM(COUNT(*)) OVER(),
                   2
               ) AS ratio
        FROM order_detail
        GROUP BY order_detail_status
    </select>

    <!-- 상품 재고 상태별 비율 -->
    <select id="getItemRatio" resultType="hashmap">
        SELECT product_stock,
               ROUND(
                   100.0 * COUNT(*) / SUM(COUNT(*)) OVER(),
                   2
               ) AS ratio
        FROM product
        GROUP BY product_stock
    </select>

</mapper>
