<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartVO">
	<insert id="insertCart" parameterType="CartVO">
		INSERT INTO cart(cart_number,product_count,product_number,user_id) VALUES(nextval('cart_seq'),#{product_count},#{product_number},#{user_id})
	</insert>
	<select id="listCart" parameterType="CartVO" resultType="CartVO">
		SELECT c.cart_number,c.user_id,p.origin_file_name,p.stored_file_name,p.file_size,p.product_name,c.product_count,p.product_price,(product_price*product_count) totalMoney
		FROM user_info m,product p,cart c WHERE m.user_id=c.user_id AND p.product_number=c.product_number AND c.user_id=#{user_id} ORDER BY c.cart_number
	</select>
	<select id="sumCartMoney" resultType="int">
		SELECT COALESCE(SUM(product_price*product_count),0) totalMoney FROM cart c,product p WHERE c.product_number=p.product_number AND c.user_id=#{user_id}
	</select>
	<delete id="deleteCart">DELETE FROM cart WHERE cart_number=#{cart_number}</delete>
	<update id="modifyCart" parameterType="CartVO">UPDATE cart SET product_count=#{product_count} WHERE user_id=#{user_id} AND cart_number=#{cart_number}</update>
	<select id="countCart" resultType="int">SELECT COUNT(*) product_count FROM cart WHERE user_id=#{user_id} AND product_number=#{product_number}</select>
	<update id="updateCart">UPDATE cart SET product_count=product_count+#{product_count} WHERE user_id=#{user_id} AND product_number=#{product_number}</update>
</mapper>
