<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ImageDAO">
	<insert id="insertImage" parameterType="ImageVO">
		INSERT INTO product_imagefile(
		<if test="stored_file_name!=null">file_number,origin_file_name,stored_file_name,stored_file_thumbnail,delegate_thumbnail,file_size,create_date,delete_check,product_number</if>)
		VALUES(<if test="stored_file_name!=null">nextval('product_imagefile_seq'),#{origin_file_name},#{stored_file_name},#{stored_file_thumbnail},#{delegate_thumbnail},#{file_size},CURRENT_TIMESTAMP,false,#{product_number}</if>)
	</insert>
</mapper>
